﻿@using FoundationForSitecore.Models
@model OrbitViewModel
@{
    var isEditMode = ViewBag.PageMode == "Edit";
}

<ul data-orbit>
    @foreach (var slide in Model.Slides)
    {
        var isSlideImageEditMode = isEditMode && !string.IsNullOrEmpty(slide.ImageFieldName) && slide.Item != null;
        var hasImageContent = !string.IsNullOrEmpty(slide.ImageSrc);

        var isSlideContentEditMode = isEditMode && !string.IsNullOrEmpty(slide.ContentFieldName) && slide.Item != null;
        var hasContent = slide.Content != null && !string.IsNullOrEmpty(slide.Content.ToHtmlString());

        var isSlideCaptionEditMode = isEditMode && !string.IsNullOrEmpty(slide.CaptionFieldName) && slide.Item != null;
        var hadCaptionContent = !string.IsNullOrEmpty(slide.Caption);

        HtmlString deepLinkTargetString = string.IsNullOrEmpty(slide.DeepLinkTarget) ? new HtmlString(string.Empty) : new HtmlString(string.Format("data-orbit-slide=\"{0}\"", slide.DeepLinkTarget));
            
        <li @deepLinkTargetString>
            @if (isSlideImageEditMode)
            {
                @Html.Partial("_Field", new FieldViewModel(slide.ImageFieldName, slide.Item))
            }
            else if (hasImageContent)
            {
                <img src="@slide.ImageSrc" alt="@slide.ImageAlt" />
            }

            @if (isSlideContentEditMode)
            {
                <div class="orbit-content">
                    @Html.Partial("_Field", new FieldViewModel(slide.ContentFieldName, slide.Item))
                </div>
            }
            else if (hasContent)
            {
                <div class="orbit-content">
                    @slide.Content
                </div>
            }

            @if (isSlideCaptionEditMode)
            {
                <div class="orbit-caption">
                    @Html.Partial("_Field", new FieldViewModel(slide.CaptionFieldName, slide.Item))
                </div>
            }
            else if (hadCaptionContent)
            {
                <div class="orbit-caption">@slide.Caption</div>
            }
        </li>
    }
</ul>